@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h5>
Order completed
</h5>
<br>
<h6>
Thanks for visiting our store! <br><br>
</h6>
<a asp-controller="product" asp-action="index" class="btn btn-outline-primary float-left"><i class="bi bi-arrow-left-square"></i> Continue shopping</a>